<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link href="../../styles/index.css" rel="stylesheet">
</head>

<body>

  <header>
    <a href="/">Your Page</a> | <a href="/about">About Page</a>
  </header>
  {{ content | safe }}
  <div>
    {% for item in news %}
      <a href="/{{ item.country }}">{{ item.country.toUpperCase() }} News</a>
    {% endfor %}
  </div>

</body>

</html>