---
title: About This Page for You
layout: base.njk
---

<div class="container">
  <h1>
    This page is for you!
  </h1>
  <p>
    It was made for you using HTML, CSS, JavaScript. And serverd as a JAMstack site.
  </p>
</div>